.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 1rem;

    &__logo {
        width: 10%;
        height: $headervh;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &-btn{
            @include neu;
            border: none;
            width: 5rem;
            height: 5rem;
            
            &:active {
            @include neuActive;
        }


            &-text {
                font-family: "Yuji Boku", serif;
                font-weight: 100;
                font-size: 36px;
            }
        }
    }

    &__util{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &-clock{
            margin-right: 2rem;
        }
    }
}
