.wrapper {
    display: flex;
    flex-flow: row wrap;

    /// aside
    &__aside {
        padding-top: 2rem;
        width: 10%;
        height: $wrappervh;
        display: flex;
        justify-content: center;
        align-items: center;

        &-buttons {
            width: 60%;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;

            &-element {
                width: 4rem;
                min-height: 4rem;
                margin-bottom: 2rem;

                border: transparent;
                border-radius: 50%;

                display: flex;
                flex-direction: center;
                justify-content: center;
                align-items: center;
                @include neu;

                &:hover {
                    cursor: pointer;
                }

                &:last-child {
                    background: $bluePastel;
                    display: flex;
                    margin-bottom: 0;
                }

                &:active {
                    @include neuActive;
                }

                &-icon {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    /// main
    &__main {
        background-color: $lightBase;
        border-top-left-radius: 25px;
        width: 90%;
        height: $wrappervh;
        padding: 2rem;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        &-notes {
            display: flex;
            flex-flow: row wrap;
            justify-self: flex-start;
            align-self: flex-start;
        }

        &-editor {
            width: 40%;
            height: $editorvh;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: 50px;
            
            @include neuEditor;

            border-radius: 25px;

            font-family: "Raleway", sans-serif;

            &-title {
                width: 90%;
                height: 3rem;

                font-size: $fnt_big;
                @include noteEditorStyle;
            }

            &-note {
                width: 90%;
                height: $noteEditorvh;
                padding-top: 1rem;
                padding-bottom: 1rem;

                @include noteEditorStyle;

                font-family: "Raleway", sans-serif;

                resize: none;

                &:hover {
                    cursor: text;
                }
            }

            &-buttons {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                width: 90%;

                &-submit {
                    width: 50%;
                    height: 3rem;

                    border-radius: 25px;
                    border: 1px solid $bgColor;
                    outline: none;

                    box-shadow: 8px 7px 5px -1px rgba(183, 192, 213, 0.75);

                    &:hover {
                        cursor: pointer;
                        border: 1px solid darken($bgColor, 50%);
                    }

                    &:active {
                        position: relative;
                        box-shadow: none;
                        top: 1px;
                    }
                }

                &-close {
                    @include settingButton;

                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}
