@mixin neu {
    border-radius: 50%;
    background: #d3d9e7;
    box-shadow: 26px 26px 51px #c2c8d5, -26px -26px 51px #e4eaf9;
}

@mixin neuActive {
    border-radius: 50%;
    background: linear-gradient(145deg, #bec3d0, #e2e8f7);
    box-shadow: 26px 26px 51px #c2c8d5, -26px -26px 51px #e4eaf9;
}

@mixin neuNote{
    background: linear-gradient(145deg, $lightBase, #cdd0d8);
    box-shadow: 20px 20px 60px #d4d7df, -20px -20px 60px $lighterBase;
}



@mixin noteEditorStyle {
    padding-inline: 1rem;
    margin-bottom: 1rem;

    border: 1px solid darken($bgColor, 10%);
    border-radius: 25px;
    outline: none;

    background-color: lighten($bgColor, 10%);
}

@mixin settingButton{
            border: 1px solid darken($bgColor, 25%);
            border-radius: 50%;

            width: 1rem;
            height: 1rem;

            background-color: transparent;

            &:hover{
                cursor: pointer;
                background: $peach;
            } 
}
