/// colors
    ///red 
$g-peach: linear-gradient(40deg, rgba(252,100,118,1) 0%, rgba(251,88,73,1) 100%);
$peach: #fb5849;
$light-peach: #fc6476;
    ///blue
$base: #D3D9E7;
$bluePastel: #66c0dc;

    ///gray
$dark-gray: #3c3c3c;



/// sizes 
$headervh : 12vh;
$wrappervh: calc(100vh - $headervh);
$editorvh: calc($wrappervh - 10vh);
$noteEditorvh: calc($editorvh - 20vh);

/// util

$bgColor: #d3d9e7;


/// font sizes;

$fnt_tiny: 8px;
$fnt_small: 12px;
$fnt_average: 16px;
$fnt_big: 20px;
$fnt_huge: 36px;