// colors
    ///red 
$g-peach: linear-gradient(40deg, rgba(252,100,118,1) 0%, rgba(251,88,73,1) 100%);
$peach: #fb5849;
$light-peach: #fc6476;
    ///blue
    /// #D3D9E7 light base color
    /// #222 dark base color

$base: #D3D9E7;
$darkBase: #222;
$lightBase: lighten($base, 5%);
$lighterBase: lighten($base, 7%);
$bluePastel: #66c0dc;

    ///gray
$dark-gray: #3c3c3c;



/// sizes 
$headervh : 14vh;
$wrappervh: calc(100vh - $headervh);
$asidevh: calc($wrappervh - 20vh);
$editorvh: calc($wrappervh - 10vh);
$noteEditorvh: calc($editorvh - 20vh);

/// util


/// font sizes;

$fnt_tiny: 8px;
$fnt_small: 12px;
$fnt_average: 16px;
$fnt_big: 20px;
$fnt_huge: 36px;